Options -Indexes -ExecCGI -Includes

RewriteEngine On



# ответная часть Conf::getHostForDir
RewriteCond %{HTTP_HOST} ^(www\.)?(.+)$ [NC]
RewriteCond %{QUERY_STRING} !(nr=1)
RewriteCond %{REQUEST_FILENAME} !(no-img.jpg)
RewriteRule ^([^/]+)$ /fls/%2/$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (297_main_img.png)$
RewriteRule ^([^/]+)/([^/]+)$ hand.png?nr=1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (297_favicon.png)$
RewriteRule ^([^/]+)/([^/]+)$ hand_favicon.png?nr=1 [QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/]+)/([^/]+)$ no-img.jpg [QSA]
