Options -Indexes
DirectoryIndex index.php

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !(.ico)
RewriteCond %{REQUEST_FILENAME} !(/js/)
RewriteCond %{REQUEST_FILENAME} !(/css/)
RewriteCond %{REQUEST_FILENAME} !(/imgs/)
RewriteCond %{REQUEST_FILENAME} !(/fonts/)
RewriteCond %{REQUEST_FILENAME} !(/fls)

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

