<!DOCTYPE html>
<head lang="ru">
    <script>App = {}</script>
    <script>App.lang = window.top.App.lang</script>
    <link rel="stylesheet"
          type="text/css"
          href="/css/libs.css?v=ead40ab">
    <script src="/js/libs.js?v=c27fdf7"></script>
    <script src="/js/functions.js?v=f16bca5"></script>

    <link rel="stylesheet"
          type="text/css"
          href="/css/main.css?v=a74ae43">
    <script src="/js/main.js?v=969fec4"></script>

    </head>
<body id="pk">
<div id="big_loading"><i class="fa fa-cog fa-spin fa-3x"></i></div>
</body>