<!DOCTYPE html>
<head lang="ru">
    <script>App = {}</script>
    <link rel="stylesheet"
          type="text/css"
          href="/css/libs.css?v=1321042">
    <script src="/js/libs.js?v=1afab8b"></script>
    <script src="/js/functions.js?v=e9e65c4"></script>

    <link rel="stylesheet"
          type="text/css"
          href="/css/main.css?v=078821a">
    <script src="/js/main.js?v=ed6b0a8"></script>

    </head>
<body id="pk">
<div id="big_loading"><i class="fa fa-cog fa-spin fa-3x"></i></div>
</body>