<!DOCTYPE html>
<head lang="ru">
    <script>App = {}</script>
    <link rel="stylesheet"
          type="text/css"
          href="/css/libs.css?v=880594f">
    <script src="/js/libs.js?v=40c5077"></script>
    <script src="/js/functions.json?v=7c1298a"></script>

    <link rel="stylesheet"
          type="text/css"
          href="/css/main.css?v=441aee5">
    <script src="/js/main.js?v=247fbbb"></script>

    </head>
<body id="pk">
<div id="big_loading"><i class="fa fa-cog fa-spin fa-3x"></i></div>
</body>